.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
  position: absolute;
  top: 20px;
  left: 20px;
}

label {
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}

input {
  margin: 10px;
  padding: 8px;
  width: 200px;
}

button {
  background-color: #09e7ca;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5646b4;
}

a:hover {
  color: #c50620;
}

.aiResponse {
  margin-top: 20px;
  color: #adf802;
  font-size: 16px;
}

.aiResponse h2 {
  color: #ccffcc;
}

.cursor {
  opacity: 1;
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}