.App {
  text-align: center;
  font-family: 'arial', sans-serif;
  color: #333;
  background: #f7f7f7;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image-area {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.image-placeholder {
  width: 500px;
  height: 500px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  margin-bottom: 20px;
}

.uploaded-image img,
.generated-image img {
  width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="file"],
button {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #0ca1db;
  color: white;
  border: none;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c20a60;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

a:hover {
  color: aqua;
}