.App {
    text-align: center;
}

body {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgb(61, 56, 60);
    font-size: 0.5rem;
}

.header h1 a {
    text-decoration: none;
    color: rgb(61, 56, 60);
}

.header h1 a:hover {
    color: aqua;
}

.title {
    /* margin-right: 250px; */
    width: 50%;
}

.navigation {
    /* margin-left: 250px; */
    width: 50%;
}

.navigation a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(61, 56, 60);
}

.navigation a:hover {
    color: aqua;
}

.header-image {
    max-width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    object-position: center;
    margin-top: 50px;
    margin-left: 750px;
}

.page-title {
    /* margin-left: 400px; */
    margin-right: 100px;
    padding: 0 5px;
    font-size: 0.8rem;
}

.page-date {
    margin-right: 100px;
    font-size: 0.7rem;
    margin-bottom: 70px;
}

.paragraph {
    margin-right: 400px;
    margin-left: 400px;
    text-align: left;
}

.highlight {
    color: rgb(133, 10, 1);
    font-weight: bold;
}

.code-box {
    background-color: #363131;
    padding: 20px;
    border-radius: 4px;
    margin: 20px;
    font-size: 0.7rem;
}

.code-text {
    color: white;
    margin: 0;
}

.blue {
    color: aqua;
}

.orange {
    color: #f78153;
}

.paragraph .system-image {
    max-width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
    object-position: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}