.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: rgb(61, 56, 60);
  font-size: 0.5rem;
}

.header h1 a {
  text-decoration: none;
  color: rgb(61, 56, 60);
}

.header h1 a:hover {
  color: aqua;
}

.title {
  /* margin-right: 250px; */
  width: 50%;
}

.navigation {
  /* margin-left: 250px; */
  width: 50%;
}

.navigation a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(61, 56, 60);
}

.navigation a:hover {
  color: aqua;
}

.blog-container {
  text-align: center;
  width: 60%;
  /* height: 70%; */
  margin-left: 350px;
}

.blog-title {
  width: 24%;
  margin-top: 100px;
  font-size: 2rem;
  color: rgb(61, 56, 60);
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.blog-entry {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-entry a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.blog-entry img {
  width: 70%;
  height: auto;
  border-radius: 8px;
}

.blog-date {
  font-size: 0.7rem;
  color: rgb(56, 51, 55);
}

.blog-theme {
  font-size: 1rem;
  color: rgb(56, 51, 55);
}