.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.3561799719887955) 86%, rgba(252, 176, 69, 1) 100%);
  color: white;
  padding: 20px 0;
}

.App-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

textarea {
  width: 40%;
  height: 200px;
  margin: 0 10px;
  padding: 10px;
  background-color: antiquewhite;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #7d8085;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: 150px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #b8085a;
}

.App-footer {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.3561799719887955) 86%, rgba(252, 176, 69, 1) 100%);
  color: white;
  padding: 10px 0;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
  color: aqua;
}

.typewriter {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.typewriter-blink::after {
  content: '|';
  animation: blink 1s step-start infinite;
}

/* 点滅アニメーション */
@keyframes blink {
  50% {
    opacity: 0;
  }
}