.App {
  text-align: center;
}

.App-header {
  background-color: #484c53;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;
  margin-bottom: 25px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: aquamarine;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.input-section,
.response-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.input-section textarea,
.response-section textarea {
  width: 80%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

.fake-textarea {
  width: 80%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.input-section button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px;
  width: 100%;
  display: block;
}

textarea {
  width: 90%;
  height: 200px;
}

button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.9220063025210083) 86%, rgba(252, 176, 69, 1) 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px;
  width: 300px;
  height: 50px;
  display: block;
  margin-top: 15px;
  transition: all 0.3s;
}

button:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 253, 187, 0.9220063025210083) 86%, rgba(252, 176, 69, 1) 100%);
  box-shadow: 0 0 15px #007BFF;
}

.typewriter {
  display: inline-block;
}

.cursor {
  display: inline-block;
  opacity: 0;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s steps(2, start) infinite;
}