body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #497474;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  width: 95%;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.message-list {
  padding: 20px;
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  padding: 10px 15px;
  border-radius: 20px;
  margin: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.user-message {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 20px;
  max-width: 80%;
}

.ai-message {
  background-color: #e9ecef;
  color: black;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 20px;
  max-width: 80%;
}

.message-input-container {
  border-top: 1px solid #e9ecef;
  padding: 10px;
  display: flex;
  align-items: center;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #e9ecef;
  margin-right: 10px;
  width: 500px;
}

button {
  padding: 10px 15px;
  background-color: #9eeb0f;
  color: rgb(19, 17, 17);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #e4bb08;
}

.message-list-webkit-scrollbar {
  width: 5px
}

.message-list-webkit-scrollbar-track {
  background: #f5f5f5;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: antiquewhite;
}

.message-list::-webkit-scrollbar {
  width: 5px;
}

.message-list::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.message-list::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.link-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.link-to-home {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.link-to-home:hover {
  color: #ddd;
}