.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.uploaded-image,
.generated-image {
  width: 45%;
  height: 400px;
  border: 3px dashed #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.uploaded-image img,
.generated-image img {
  max-width: 45%;
  max-height: 400px;
  border: 3px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.image-placeholder {
  text-align: center;
  color: #aaa;
  font-style: italic;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input[type='text'],
input[type='file'] {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: calc(50% - 20px);
  max-width: 500px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004494;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}