name: CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ap-northeast-1

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Check Out Repository
        uses: actions/checkout@v2

      - name: 'Setup Terraform'
        uses: hashicorp/setup-terraform@v1

      - name: 'Terraform Init'
        run: terraform init
        working-directory: terraform_configuration

      - name: 'List files in terraform_configuration directory'
        run: |
          ls -alh terraform_configuration/
          pwd
          ls

      - name: 'Terraform Plan'
        run: terraform plan
        working-directory: terraform_configuration

      - name: 'Terraform Apply'
        run: terraform apply -auto-approve
        working-directory: terraform_configuration
        env:
          TF_VAR_openai_api_key: ${{ secrets.TF_VAR_OPENAI_API_KEY }}

  deploy:
    needs: terraform
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: setup nodejs
        uses: actions/setup-node@v2
        with:
            node-version: '14'

      - name: install dependencies for blog app
        run: |
          cd blog/myapp
          npm install

      - name: build the blog react app
        run: |
          cd blog/myapp
          npm run build

      - name: build the fluid app
        run: |
          cd fluid
          npm install
          npm run build

      - name: emotion_backend
        run: |
          cd emotion_backend
          npm install

      - name: emotion_frontend
        run: |
          cd emotion/frontend
          npm install
          npm run build

      - name: realtime_backend
        run: |
          cd realtime_backend
          npm install
  
      - name: realtime
        run: |
          cd realtime/myapp
          npm install
          npm run build

      - name: well_backend
        run: |
          cd well_backend
          npm install
  
      - name: well-generate
        run: |
          cd well-generate/myapp
          npm install
          npm run build

      - name: claim_backend
        run: |
          cd claim_backend
          npm install
  
      - name: claim-generate
        run: |
          cd claim_generation/myapp
          npm install
          npm run build

      - name: dalle_backend
        run: |
          cd dalle_backend
          npm install
  
      - name: dalle
        run: |
          cd dalle/myapp
          npm install
          npm run build

      - name: gpt4_backend
        run: |
          cd gpt4_backend
          npm install
  
      - name: gpt4
        run: |
          cd gpt4/myapp
          npm install
          npm run build

      - name: speech_backend
        run: |
          cd speech_backend
          npm install
  
      - name: speech
        run: |
          cd speech1/myapp
          npm install
          npm run build

      - name: image2video_backend
        run: |
          cd image2video_backend
          npm install
  
      - name: image2video
        run: |
          cd image2video/myapp
          npm install
          npm run build

      - name: image2image_backend
        run: |
          cd image2image_backend
          npm install
  
      - name: image2image
        run: |
          cd image2image1/myapp
          npm install
          npm run build

      - name: text2speech_backend
        run: |
          cd text2speech_backend
          npm install
  
      - name: text2speech
        run: |
          cd text2speech/myapp
          npm install
          npm run build

      - name: text2image_backend
        run: |
          cd text2image_backend
          npm install
  
      - name: text2image
        run: |
          cd text2image/myapp
          npm install
          npm run build

      - name: ailab_backend
        run: |
          cd ailab_backend
          npm install
  
      - name: ailab
        run: |
          cd ailab1/myapp
          npm install
          npm run build

      - name: music_backend
        run: |
          cd music_backend
          npm install
  
      - name: music1
        run: |
          cd music1/myapp
          npm install
          npm run build

      - name: events_backend
        run: |
          cd events_backend
          npm install
  
      - name: events
        run: |
          cd events/myapp
          npm install
          npm run build

      - name: searchandreplace1_backend
        run: |
          cd searchandreplace1_backend
          npm install
  
      - name: searchandreplace1
        run: |
          cd searchandreplace1/myapp
          npm install
          npm run build

      - name: smokefree_backend
        run: |
          cd smokefree_backend
          npm install
  
      - name: smokefree
        run: |
          cd smokefree/myapp
          npm install
          npm run build

      - name: deploy to ec2
        env:
          PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
          SERVER_IP: ${{secrets.SERVER_IP}}
        run: |
          echo "$PRIVATE_KEY" > deploy_key
          chmod 600 deploy_key

          ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no ec2-user@$SERVER_IP '
            sudo yum update -y
            sudo amazon-linux-extras install nginx1 -y
            sudo systemctl start nginx
            sudo systemctl enable nginx

            sudo mkdir -p /usr/share/nginx/html/blog
            sudo mkdir -p /usr/share/nginx/html/fluid
            sudo chown -R ec2-user:ec2-user /usr/share/nginx/html
          '

          ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no ec2-user@$SERVER_IP 'sudo systemctl restart nginx'

          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/blog/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/blog/

          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/fluid/dist/ ec2-user@$SERVER_IP:/usr/share/nginx/html/fluid/

          # Deploy emotion app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/emotion_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/emotion_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/emotion/frontend/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/emotion/

          # Deploy realtime app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/realtime_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/realtime_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/realtime/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/realtime/

          # Deploy well app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/well_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/well_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/well-generate/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/well-generate/

          # Deploy claim app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/claim_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/claim_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/claim_generation/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/claim_generation/

          # Deploy dalle app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/dalle_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/dalle_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/dalle/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/dalle/

          # Deploy gpt4 app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/gpt4_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/gpt4_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/gpt4/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/gpt4/

          # Deploy speech app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/speech_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/speech_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/speech1/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/speech1/

          # Deploy image2video app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/image2video_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/image2video_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/image2video/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/image2video/

          # Deploy image2image app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/image2image_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/image2image_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/image2image1/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/image2image1/

          # Deploy text2speech app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/text2speech_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/text2speech_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/text2speech/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/text2speech/

          # Deploy text2image app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/text2image_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/text2image_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/text2image/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/text2image/

          # Deploy ailab app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/ailab_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/ailab_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/ailab1/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/ailab1/

          # Deploy music app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/music_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/music_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/music1/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/music1/

          # Deploy events app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/events_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/events_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/events/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/events/

          # Deploy searchandreplace1 app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/searchandreplace1_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/searchandreplace1_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/searchandreplace1/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/searchandreplace1/

          # Deploy smokefree app
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/smokefree_backend/ ec2-user@$SERVER_IP:/usr/share/nginx/html/smokefree_backend/
          rsync -avz -e "ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no" /home/runner/work/dom/dom/smokefree/myapp/build/ ec2-user@$SERVER_IP:/usr/share/nginx/html/smokefree/

          ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no ec2-user@$SERVER_IP 'sudo systemctl restart nginx'

          ssh -i deploy_key -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GSSAPIAuthentication=no ec2-user@$SERVER_IP '
          #   cd /usr/share/nginx/html/realtime_backend
          #   pm2 restart 1
              cd /usr/share/nginx/html/text2image_backend
              pm2 restart 2
              cd /usr/share/nginx/html/ailab_backend
              pm2 restart 3
              cd /usr/share/nginx/html/music_backend
              pm2 restart 4
              cd /usr/share/nginx/html/events_backend
              pm2 restart 5
              cd /usr/share/nginx/html/searchandreplace1_backend
              pm2 restart 6
              cd /usr/share/nginx/html/smokefree_backend
              pm2 restart 7
          #   /usr/share/nginx/html/image2image_backend
          #   pm2 restart 9
          #   /usr/share/nginx/html/text2speech_backend
          #   pm2 restart 10
          '

          rm -f deploy_key

